<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD25VOv8eyjyK5m7AJfjrgNa_ySvUlYg_o</string>
	<key>GCM_SENDER_ID</key>
	<string>64959225182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSeniorProject</string>
	<key>PROJECT_ID</key>
	<string>nomad-coder-moodtracker</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-coder-moodtracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64959225182:ios:55628119a40f33409bc3cf</string>
</dict>
</plist>